<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>PrivilegeSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CharacterEncoding</filter-name>
    <filter-class>web.filter.CharacterEncoding</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ListprivilegesServlet</servlet-name>
    <servlet-class>web.controller.ListprivilegesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListprivilegesServlet</servlet-name>
    <url-pattern>/servlet/ListprivilegesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddPrivilegeServlet</servlet-name>
    <servlet-class>web.controller.AddPrivilegeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPrivilegeServlet</servlet-name>
    <url-pattern>/servlet/AddPrivilegeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListRoleServlet</servlet-name>
    <servlet-class>web.controller.ListRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListRoleServlet</servlet-name>
    <url-pattern>/servlet/ListRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>web.controller.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/servlet/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddRoleServlet</servlet-name>
    <servlet-class>web.controller.AddRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRoleServlet</servlet-name>
    <url-pattern>/servlet/AddRoleServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>AddUserRoleServlet</servlet-name>
    <servlet-class>web.controller.AddUserRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserRoleServlet</servlet-name>
    <url-pattern>/servlet/AddUserRoleServlet</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>ListUsersServlet</servlet-name>
    <servlet-class>web.controller.ListUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUsersServlet</servlet-name>
    <url-pattern>/servlet/ListUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddRolePrivilegeServlet</servlet-name>
    <servlet-class>web.controller.AddRolePrivilegeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRolePrivilegeServlet</servlet-name>
    <url-pattern>/servlet/AddRolePrivilegeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddRolePrivilegeUIServlet</servlet-name>
    <servlet-class>web.UI.AddRolePrivilegeUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRolePrivilegeUIServlet</servlet-name>
    <url-pattern>/servlet/AddRolePrivilegeUIServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUserRoleUIServlet</servlet-name>
    <servlet-class>web.UI.AddUserRoleUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserRoleUIServlet</servlet-name>
    <url-pattern>/servlet/AddUserRoleUIServlet</url-pattern>
  </servlet-mapping>
</web-app>